body{
	margin: 0px;
	padding: 0px;
}

ul{
	position: relative;
	background: gray;
	margin: 0px;
	padding: 0px;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 15px;
	display: block; 
}

ul li:hover{
	background: lightgrey;
}
ul ul{
	position: absolute;
	min-width: 200px;
	display: none;
	background: lightgrey;
}
ul ul li{
	display: block;
	background: #e3e3e3;
}
ul li:hover  ul{
	display: block;
}